<% if @destinations %>
<br><h2> Your options from <%= @destinations[0].originlocation %> and <%= @destinations[1].originlocation %> are: </h2>
<% end %>

<div class="row">
  <div class="col-md-3">
    <%= @skyscanner[0].quotes.length%>
    <br>
    <%@skyscanner[0].quotes.each do |dest|%>
    Total for both around trip flight <strong> <%=dest['SumPrices']%></strong>
    <br>
    <%=dest["MinPrice"]%>, <% if dest["Direct"] == true %>
    Direct
    <% else %>
      No Direct
    <% end %>

    <br>
    <%=dest["OutboundLeg"]%>
    <br>
    <br>
    Origin: <%= Skyscanner.destination_name(dest["OutboundLeg"]['OriginId']) %>
    <br><br>
    <%=dest["InboundLeg"]%>
    <br><br>
    destination: <%= Skyscanner.destination_name(dest["OutboundLeg"]['DestinationId']) %>
    <br> <br><br>

    <% end %>
  </div>
  <div class="col-md-3">
    <%= @skyscanner[1].quotes.length%>
    <br>
    <%@skyscanner[1].quotes.each do |dest|%>
    Total for both around trip flight <strong> <%=dest['SumPrices']%></strong>
    <br>
    <%=dest["MinPrice"]%>, <% if dest["Direct"] == true %>
    Direct
    <% else %>
      No Direct
    <% end %>
    <br>
    <%=dest["OutboundLeg"]%>
    <br>
    <%=dest["InboundLeg"]%>
    <br><br><br>
    <% end %>
  </div>
  <% if @destinations %>

  <%@destinations.each do |dest| %>
  <div class="col-md-3">

  From <strong> <%= dest.originlocation %> </strong>
  <h2>
  <%= dest.fareinfo.length%>
  </h2>
  <% dest.fareinfo.each do |one|%>
  <br>
  To <strong> <%= one["DestinationLocation"] %> </strong>, <%= one['AirportName'] %>
  <br>
  <%=one["City"]%>, <%=one["State"]%>, <%=one["Country"] %>
  <br>
  Total: <strong> <%= one["SumPrices"] %> </strong>
  <br>
  Airline Code : <%= one['LowestFare']['AirlineCodes'].first %>, <%= one['AirlineName'] %>
  <br>
  Price: <%= one['LowestFare']["Fare"] %> <%= one['CurrencyCode'] %>
  <br>
  Getting in on: <%= one["DepartureDateTime"] %>
  <br>
  Coming back on: <%= one["ReturnDateTime"] %>
  <br><br><br>
  <% end %>
  </div>

  <% end %>
  <% end %>

</div>
