<%=@session.inspect%>
<br><br>
<% if @routes %>

<div class="row">
  <div class="col-md-6">
    <h2>Routes</h2>
    <%=@routes.kind['Routes'].length%>
    <%@routes.kind['Routes'].each do |dest|%>
    <%= dest %>
    <br><br>
    <%end%>
  </div>

  <div class="col-md-6">
    <h2>Quotes</h2>
    <%=@quotes.kind['Quotes'].length%>
    <% @quotes.kind['Quotes'].each do |dest| %>
    <%=  dest %>
    <br>
    <br>

    <% end%>
  </div>
</div>
<% end %>

<br>
<br>
<br>
<% if @destinations %>

<br><h2> Your options from <%= @destinations[0].originlocation %> and <%= @destinations[1].originlocation %> are: </h2>

<div class="row">

  <%@destinations.each do |dest| %>
  <div class="col-md-6">

  From <strong> <%= dest.originlocation %> </strong>
  <h2>
  <%= dest.fareinfo.length%>
  </h2>
  <% dest.fareinfo.each do |one|%>
  <br>
  To <strong> <%= one["DestinationLocation"] %> </strong>, <%= one['AirportName'] %>
  <br>
  <%=one["City"]%>, <%=one["State"]%>, <%=one["Country"] %>
  <br>
  Total: <strong> <%= one["SumPrices"] %> </strong>
  <br>
  Airline Code : <%= one['LowestFare']['AirlineCodes'].first %>, <%= one['AirlineName'] %>
  <br>
  Price: <%= one['LowestFare']["Fare"] %> <%= one['CurrencyCode'] %>
  <br>
  Getting in on: <%= one["DepartureDateTime"] %>
  <br>
  Coming back on: <%= one["ReturnDateTime"] %>
  <br><br><br>
  <% end %>

  </div>
  <% end %>


</div>

<% end %>
