<!DOCTYPE html>
<html>
<head>
  <title>Conenction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
  <nav class="navbar navbar-inverse">
       <div class="container-fluid">
           <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <%=link_to "Connection", root_path, class: 'navbar-brand'%>
         </div>

         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
             <li><%= form_tag search_result_path, class: "navbar-form navbar-left" do  %>
               <div class="form-group">
                 <%= text_field_tag :user_origin_one, nil, class: 'form-control' %>
                 <%= text_field_tag :user_origin_two, nil, class: 'form-control' %>
               </div>
               <%= submit_tag "Search", class: 'btn btn-default'%>
               <% end %>
             </li>
             <li><%="My connections" if current_user%></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">

             <%if current_user%>
             <span class="name"><%=current_user.name %></span>
             <li><%=link_to "Log Out", logout_path, method: :delete, class: "totheleft" %> </li>
             <%=image_tag current_user.photo, class: "picprofile" %>
             <% end %>
             <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" unless current_user%> </li>

               </div>
             </ul>
         </div><!-- /.container-fluid -->
       </nav>

  <br><br>
  <%= params %>

  <% if flash[:notice] -%>
  <div class="alert alert-warning" role="alert">
    <p class='notice'><%=h flash[:notice] %></p>
  </div>
  <% end %>
  <div class="container">

<%= yield %>

</body>
</html>
